.particle {
    position: absolute;
    border-radius: 50%;
  }
  
  @-webkit-keyframes particle-animation-1 {
    100% {
      -webkit-transform: translate3d(79vw, 63vh, 7px);
      transform: translate3d(79vw, 63vh, 7px);
    }
  }
  @keyframes particle-animation-1 {
    100% {
      -webkit-transform: translate3d(79vw, 63vh, 7px);
      transform: translate3d(79vw, 63vh, 7px);
    }
  }
  .particle:nth-child(1) {
    -webkit-animation: particle-animation-1 60s infinite;
    animation: particle-animation-1 60s infinite;
    opacity: 0.43;
    height: 7px;
    width: 7px;
    filter: blur(4px);
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
    -webkit-transform: translate3d(2vw, 3vh, 26px);
    transform: translate3d(2vw, 3vh, 26px);
    background: #d9c726;
  }
  
  @-webkit-keyframes particle-animation-2 {
    100% {
      -webkit-transform: translate3d(59vw, 2vh, 20px);
      transform: translate3d(59vw, 2vh, 20px);
    }
  }
  @keyframes particle-animation-2 {
    100% {
      -webkit-transform: translate3d(59vw, 2vh, 20px);
      transform: translate3d(59vw, 2vh, 20px);
    }
  }
  .particle:nth-child(2) {
    -webkit-animation: particle-animation-2 60s infinite;
    animation: particle-animation-2 60s infinite;
    opacity: 0.61;
    height: 9px;
    width: 9px;
    filter: blur(4px);
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
    -webkit-transform: translate3d(37vw, 79vh, 46px);
    transform: translate3d(37vw, 79vh, 46px);
    background: #d99126;
  }
  
  @-webkit-keyframes particle-animation-3 {
    100% {
      -webkit-transform: translate3d(16vw, 4vh, 64px);
      transform: translate3d(16vw, 4vh, 64px);
    }
  }
  @keyframes particle-animation-3 {
    100% {
      -webkit-transform: translate3d(16vw, 4vh, 64px);
      transform: translate3d(16vw, 4vh, 64px);
    }
  }
  .particle:nth-child(3) {
    -webkit-animation: particle-animation-3 60s infinite;
    animation: particle-animation-3 60s infinite;
    opacity: 0.41;
    height: 6px;
    width: 6px;
    filter: blur(4px);
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
    -webkit-transform: translate3d(16vw, 49vh, 88px);
    transform: translate3d(16vw, 49vh, 88px);
    background: #363636;
  }
  
  @-webkit-keyframes particle-animation-4 {
    100% {
      -webkit-transform: translate3d(83vw, 51vh, 15px);
      transform: translate3d(83vw, 51vh, 15px);
    }
  }
  @keyframes particle-animation-4 {
    100% {
      -webkit-transform: translate3d(83vw, 51vh, 15px);
      transform: translate3d(83vw, 51vh, 15px);
    }
  }
  .particle:nth-child(4) {
    -webkit-animation: particle-animation-4 60s infinite;
    animation: particle-animation-4 60s infinite;
    opacity: 0.18;
    height: 9px;
    width: 9px;
    filter: blur(4px);
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
    -webkit-transform: translate3d(7vw, 66vh, 76px);
    transform: translate3d(7vw, 66vh, 76px);
    background: #d6d926;
  }
  
  @-webkit-keyframes particle-animation-5 {
    100% {
      -webkit-transform: translate3d(35vw, 46vh, 13px);
      transform: translate3d(35vw, 46vh, 13px);
    }
  }
  @keyframes particle-animation-5 {
    100% {
      -webkit-transform: translate3d(35vw, 46vh, 13px);
      transform: translate3d(35vw, 46vh, 13px);
    }
  }
  .particle:nth-child(5) {
    -webkit-animation: particle-animation-5 60s infinite;
    animation: particle-animation-5 60s infinite;
    opacity: 0.4;
    height: 10px;
    width: 10px;
    filter: blur(4px);
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
    -webkit-transform: translate3d(3vw, 21vh, 30px);
    transform: translate3d(3vw, 21vh, 30px);
    background: #d9c726;
  }
  
  @-webkit-keyframes particle-animation-6 {
    100% {
      -webkit-transform: translate3d(21vw, 62vh, 83px);
      transform: translate3d(21vw, 62vh, 83px);
    }
  }
  @keyframes particle-animation-6 {
    100% {
      -webkit-transform: translate3d(21vw, 62vh, 83px);
      transform: translate3d(21vw, 62vh, 83px);
    }
  }
  .particle:nth-child(6) {
    -webkit-animation: particle-animation-6 60s infinite;
    animation: particle-animation-6 60s infinite;
    opacity: 0.62;
    height: 8px;
    width: 8px;
    filter: blur(4px);
    -webkit-animation-delay: -1.2s;
    animation-delay: -1.2s;
    -webkit-transform: translate3d(86vw, 25vh, 50px);
    transform: translate3d(86vw, 25vh, 50px);
    background: #d96e26;
  }
  
  @-webkit-keyframes particle-animation-7 {
    100% {
      -webkit-transform: translate3d(30vw, 75vh, 47px);
      transform: translate3d(30vw, 75vh, 47px);
    }
  }
  @keyframes particle-animation-7 {
    100% {
      -webkit-transform: translate3d(30vw, 75vh, 47px);
      transform: translate3d(30vw, 75vh, 47px);
    }
  }
  .particle:nth-child(7) {
    -webkit-animation: particle-animation-7 60s infinite;
    animation: particle-animation-7 60s infinite;
    opacity: 0.03;
    height: 9px;
    width: 9px;
    filter: blur(4px);
    -webkit-animation-delay: -1.4s;
    animation-delay: -1.4s;
    -webkit-transform: translate3d(74vw, 43vh, 20px);
    transform: translate3d(74vw, 43vh, 20px);
    background: #d9a926;
  }
  
  @-webkit-keyframes particle-animation-8 {
    100% {
      -webkit-transform: translate3d(51vw, 76vh, 34px);
      transform: translate3d(51vw, 76vh, 34px);
    }
  }
  @keyframes particle-animation-8 {
    100% {
      -webkit-transform: translate3d(51vw, 76vh, 34px);
      transform: translate3d(51vw, 76vh, 34px);
    }
  }
  .particle:nth-child(8) {
    -webkit-animation: particle-animation-8 60s infinite;
    animation: particle-animation-8 60s infinite;
    opacity: 0.31;
    height: 10px;
    width: 10px;
    filter: blur(4px);
    -webkit-animation-delay: -1.6s;
    animation-delay: -1.6s;
    -webkit-transform: translate3d(65vw, 79vh, 19px);
    transform: translate3d(65vw, 79vh, 19px);
    background: #d99126;
  }
  
  @-webkit-keyframes particle-animation-9 {
    100% {
      -webkit-transform: translate3d(27vw, 25vh, 18px);
      transform: translate3d(27vw, 25vh, 18px);
    }
  }
  @keyframes particle-animation-9 {
    100% {
      -webkit-transform: translate3d(27vw, 25vh, 18px);
      transform: translate3d(27vw, 25vh, 18px);
    }
  }
  .particle:nth-child(9) {
    -webkit-animation: particle-animation-9 60s infinite;
    animation: particle-animation-9 60s infinite;
    opacity: 0.34;
    height: 8px;
    width: 8px;
    filter: blur(4px);
    -webkit-animation-delay: -1.8s;
    animation-delay: -1.8s;
    -webkit-transform: translate3d(18vw, 44vh, 67px);
    transform: translate3d(18vw, 44vh, 67px);
    background: #d9a026;
  }
  
  @-webkit-keyframes particle-animation-10 {
    100% {
      -webkit-transform: translate3d(79vw, 72vh, 38px);
      transform: translate3d(79vw, 72vh, 38px);
    }
  }
  @keyframes particle-animation-10 {
    100% {
      -webkit-transform: translate3d(79vw, 72vh, 38px);
      transform: translate3d(79vw, 72vh, 38px);
    }
  }
  .particle:nth-child(10) {
    -webkit-animation: particle-animation-10 60s infinite;
    animation: particle-animation-10 60s infinite;
    opacity: 0.17;
    height: 8px;
    width: 8px;
    filter: blur(4px);
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
    -webkit-transform: translate3d(76vw, 90vh, 33px);
    transform: translate3d(76vw, 90vh, 33px);
    background: #d99a26;
  }
  
  @-webkit-keyframes particle-animation-11 {
    100% {
      -webkit-transform: translate3d(23vw, 20vh, 67px);
      transform: translate3d(23vw, 20vh, 67px);
    }
  }
  @keyframes particle-animation-11 {
    100% {
      -webkit-transform: translate3d(23vw, 20vh, 67px);
      transform: translate3d(23vw, 20vh, 67px);
    }
  }
  .particle:nth-child(11) {
    -webkit-animation: particle-animation-11 60s infinite;
    animation: particle-animation-11 60s infinite;
    opacity: 0.27;
    height: 8px;
    width: 8px;
    filter: blur(4px);
    -webkit-animation-delay: -2.2s;
    animation-delay: -2.2s;
    -webkit-transform: translate3d(49vw, 44vh, 65px);
    transform: translate3d(49vw, 44vh, 65px);
    background: #d9a926;
  }
  
  @-webkit-keyframes particle-animation-12 {
    100% {
      -webkit-transform: translate3d(53vw, 66vh, 39px);
      transform: translate3d(53vw, 66vh, 39px);
    }
  }
  @keyframes particle-animation-12 {
    100% {
      -webkit-transform: translate3d(53vw, 66vh, 39px);
      transform: translate3d(53vw, 66vh, 39px);
    }
  }
  .particle:nth-child(12) {
    -webkit-animation: particle-animation-12 60s infinite;
    animation: particle-animation-12 60s infinite;
    opacity: 0.06;
    height: 8px;
    width: 8px;
    filter: blur(4px);
    -webkit-animation-delay: -2.4s;
    animation-delay: -2.4s;
    -webkit-transform: translate3d(18vw, 34vh, 93px);
    transform: translate3d(18vw, 34vh, 93px);
    background: #d9c726;
  }
  
  @-webkit-keyframes particle-animation-13 {
    100% {
      -webkit-transform: translate3d(67vw, 36vh, 18px);
      transform: translate3d(67vw, 36vh, 18px);
    }
  }
  @keyframes particle-animation-13 {
    100% {
      -webkit-transform: translate3d(67vw, 36vh, 18px);
      transform: translate3d(67vw, 36vh, 18px);
    }
  }
  .particle:nth-child(13) {
    -webkit-animation: particle-animation-13 60s infinite;
    animation: particle-animation-13 60s infinite;
    opacity: 0.01;
    height: 10px;
    width: 10px;
    filter: blur(4px);
    -webkit-animation-delay: -2.6s;
    animation-delay: -2.6s;
    -webkit-transform: translate3d(65vw, 42vh, 97px);
    transform: translate3d(65vw, 42vh, 97px);
    background: #d9af26;
  }
  
  @-webkit-keyframes particle-animation-14 {
    100% {
      -webkit-transform: translate3d(56vw, 83vh, 3px);
      transform: translate3d(56vw, 83vh, 3px);
    }
  }
  @keyframes particle-animation-14 {
    100% {
      -webkit-transform: translate3d(56vw, 83vh, 3px);
      transform: translate3d(56vw, 83vh, 3px);
    }
  }
  .particle:nth-child(14) {
    -webkit-animation: particle-animation-14 60s infinite;
    animation: particle-animation-14 60s infinite;
    opacity: 0.2;
    height: 6px;
    width: 6px;
    filter: blur(4px);
    -webkit-animation-delay: -2.8s;
    animation-delay: -2.8s;
    -webkit-transform: translate3d(8vw, 62vh, 30px);
    transform: translate3d(8vw, 62vh, 30px);
    background: #d9af26;
  }
  
  @-webkit-keyframes particle-animation-15 {
    100% {
      -webkit-transform: translate3d(28vw, 83vh, 92px);
      transform: translate3d(28vw, 83vh, 92px);
    }
  }
  @keyframes particle-animation-15 {
    100% {
      -webkit-transform: translate3d(28vw, 83vh, 92px);
      transform: translate3d(28vw, 83vh, 92px);
    }
  }
  .particle:nth-child(15) {
    -webkit-animation: particle-animation-15 60s infinite;
    animation: particle-animation-15 60s infinite;
    opacity: 0.92;
    height: 7px;
    width: 7px;
    filter: blur(4px);
    -webkit-animation-delay: -3s;
    animation-delay: -3s;
    -webkit-transform: translate3d(3vw, 78vh, 75px);
    transform: translate3d(3vw, 78vh, 75px);
    background: #d9af26;
  }
  
  @-webkit-keyframes particle-animation-16 {
    100% {
      -webkit-transform: translate3d(4vw, 66vh, 64px);
      transform: translate3d(4vw, 66vh, 64px);
    }
  }
  @keyframes particle-animation-16 {
    100% {
      -webkit-transform: translate3d(4vw, 66vh, 64px);
      transform: translate3d(4vw, 66vh, 64px);
    }
  }
  .particle:nth-child(16) {
    -webkit-animation: particle-animation-16 60s infinite;
    animation: particle-animation-16 60s infinite;
    opacity: 0.9;
    height: 10px;
    width: 10px;
    filter: blur(4px);
    -webkit-animation-delay: -3.2s;
    animation-delay: -3.2s;
    -webkit-transform: translate3d(25vw, 43vh, 54px);
    transform: translate3d(25vw, 43vh, 54px);
    background: #3f3f3f;
  }
  
  @-webkit-keyframes particle-animation-17 {
    100% {
      -webkit-transform: translate3d(79vw, 51vh, 4px);
      transform: translate3d(79vw, 51vh, 4px);
    }
  }
  @keyframes particle-animation-17 {
    100% {
      -webkit-transform: translate3d(79vw, 51vh, 4px);
      transform: translate3d(79vw, 51vh, 4px);
    }
  }
  .particle:nth-child(17) {
    -webkit-animation: particle-animation-17 60s infinite;
    animation: particle-animation-17 60s infinite;
    opacity: 0.72;
    height: 8px;
    width: 8px;
    filter: blur(4px);
    -webkit-animation-delay: -3.4s;
    animation-delay: -3.4s;
    -webkit-transform: translate3d(9vw, 81vh, 66px);
    transform: translate3d(9vw, 81vh, 66px);
    background: #4e4e4e;
  }
  
  @-webkit-keyframes particle-animation-18 {
    100% {
      -webkit-transform: translate3d(44vw, 26vh, 58px);
      transform: translate3d(44vw, 26vh, 58px);
    }
  }
  @keyframes particle-animation-18 {
    100% {
      -webkit-transform: translate3d(44vw, 26vh, 58px);
      transform: translate3d(44vw, 26vh, 58px);
    }
  }
  .particle:nth-child(18) {
    -webkit-animation: particle-animation-18 60s infinite;
    animation: particle-animation-18 60s infinite;
    opacity: 0.21;
    height: 9px;
    width: 9px;
    filter: blur(4px);
    -webkit-animation-delay: -3.6s;
    animation-delay: -3.6s;
    -webkit-transform: translate3d(50vw, 32vh, 57px);
    transform: translate3d(50vw, 32vh, 57px);
    background: #535353;
  }
  
  @-webkit-keyframes particle-animation-19 {
    100% {
      -webkit-transform: translate3d(8vw, 28vh, 38px);
      transform: translate3d(8vw, 28vh, 38px);
    }
  }
  @keyframes particle-animation-19 {
    100% {
      -webkit-transform: translate3d(8vw, 28vh, 38px);
      transform: translate3d(8vw, 28vh, 38px);
    }
  }
  .particle:nth-child(19) {
    -webkit-animation: particle-animation-19 60s infinite;
    animation: particle-animation-19 60s infinite;
    opacity: 0.61;
    height: 6px;
    width: 6px;
    filter: blur(4px);
    -webkit-animation-delay: -3.8s;
    animation-delay: -3.8s;
    -webkit-transform: translate3d(62vw, 20vh, 78px);
    transform: translate3d(62vw, 20vh, 78px);
    background: #6b6b6b;
  }
  
  @-webkit-keyframes particle-animation-20 {
    100% {
      -webkit-transform: translate3d(80vw, 63vh, 38px);
      transform: translate3d(80vw, 63vh, 38px);
    }
  }
  @keyframes particle-animation-20 {
    100% {
      -webkit-transform: translate3d(80vw, 63vh, 38px);
      transform: translate3d(80vw, 63vh, 38px);
    }
  }
  .particle:nth-child(20) {
    -webkit-animation: particle-animation-20 60s infinite;
    animation: particle-animation-20 60s infinite;
    opacity: 0.89;
    height: 9px;
    width: 9px;
    filter: blur(4px);
    -webkit-animation-delay: -4s;
    animation-delay: -4s;
    -webkit-transform: translate3d(18vw, 43vh, 89px);
    transform: translate3d(18vw, 43vh, 89px);
    background: #d9be26;
  }
  
  @-webkit-keyframes particle-animation-21 {
    100% {
      -webkit-transform: translate3d(79vw, 63vh, 76px);
      transform: translate3d(79vw, 63vh, 76px);
    }
  }
  @keyframes particle-animation-21 {
    100% {
      -webkit-transform: translate3d(79vw, 63vh, 76px);
      transform: translate3d(79vw, 63vh, 76px);
    }
  }
  .particle:nth-child(21) {
    -webkit-animation: particle-animation-21 60s infinite;
    animation: particle-animation-21 60s infinite;
    opacity: 0.02;
    height: 9px;
    width: 9px;
    filter: blur(4px);
    -webkit-animation-delay: -4.2s;
    animation-delay: -4.2s;
    -webkit-transform: translate3d(27vw, 70vh, 47px);
    transform: translate3d(27vw, 70vh, 47px);
    background: #d9c726;
  }
  
  @-webkit-keyframes particle-animation-22 {
    100% {
      -webkit-transform: translate3d(65vw, 84vh, 100px);
      transform: translate3d(65vw, 84vh, 100px);
    }
  }
  @keyframes particle-animation-22 {
    100% {
      -webkit-transform: translate3d(65vw, 84vh, 100px);
      transform: translate3d(65vw, 84vh, 100px);
    }
  }
  .particle:nth-child(22) {
    -webkit-animation: particle-animation-22 60s infinite;
    animation: particle-animation-22 60s infinite;
    opacity: 0.35;
    height: 9px;
    width: 9px;
    filter: blur(4px);
    -webkit-animation-delay: -4.4s;
    animation-delay: -4.4s;
    -webkit-transform: translate3d(49vw, 28vh, 25px);
    transform: translate3d(49vw, 28vh, 25px);
    background: #d9b826;
  }
  
  @-webkit-keyframes particle-animation-23 {
    100% {
      -webkit-transform: translate3d(34vw, 81vh, 63px);
      transform: translate3d(34vw, 81vh, 63px);
    }
  }
  @keyframes particle-animation-23 {
    100% {
      -webkit-transform: translate3d(34vw, 81vh, 63px);
      transform: translate3d(34vw, 81vh, 63px);
    }
  }
  .particle:nth-child(23) {
    -webkit-animation: particle-animation-23 60s infinite;
    animation: particle-animation-23 60s infinite;
    opacity: 0.82;
    height: 10px;
    width: 10px;
    filter: blur(4px);
    -webkit-animation-delay: -4.6s;
    animation-delay: -4.6s;
    -webkit-transform: translate3d(47vw, 23vh, 48px);
    transform: translate3d(47vw, 23vh, 48px);
    background: #d9d626;
  }
  
  @-webkit-keyframes particle-animation-24 {
    100% {
      -webkit-transform: translate3d(85vw, 69vh, 55px);
      transform: translate3d(85vw, 69vh, 55px);
    }
  }
  @keyframes particle-animation-24 {
    100% {
      -webkit-transform: translate3d(85vw, 69vh, 55px);
      transform: translate3d(85vw, 69vh, 55px);
    }
  }
  .particle:nth-child(24) {
    -webkit-animation: particle-animation-24 60s infinite;
    animation: particle-animation-24 60s infinite;
    opacity: 0.74;
    height: 7px;
    width: 7px;
    filter: blur(4px);
    -webkit-animation-delay: -4.8s;
    animation-delay: -4.8s;
    -webkit-transform: translate3d(6vw, 32vh, 18px);
    transform: translate3d(6vw, 32vh, 18px);
    background: #d97d26;
  }
  
  @-webkit-keyframes particle-animation-25 {
    100% {
      -webkit-transform: translate3d(34vw, 85vh, 68px);
      transform: translate3d(34vw, 85vh, 68px);
    }
  }
  @keyframes particle-animation-25 {
    100% {
      -webkit-transform: translate3d(34vw, 85vh, 68px);
      transform: translate3d(34vw, 85vh, 68px);
    }
  }
  .particle:nth-child(25) {
    -webkit-animation: particle-animation-25 60s infinite;
    animation: particle-animation-25 60s infinite;
    opacity: 0.02;
    height: 7px;
    width: 7px;
    filter: blur(4px);
    -webkit-animation-delay: -5s;
    animation-delay: -5s;
    -webkit-transform: translate3d(67vw, 30vh, 13px);
    transform: translate3d(67vw, 30vh, 13px);
    background: #d99a26;
  }
  
  @-webkit-keyframes particle-animation-26 {
    100% {
      -webkit-transform: translate3d(8vw, 82vh, 7px);
      transform: translate3d(8vw, 82vh, 7px);
    }
  }
  @keyframes particle-animation-26 {
    100% {
      -webkit-transform: translate3d(8vw, 82vh, 7px);
      transform: translate3d(8vw, 82vh, 7px);
    }
  }
  .particle:nth-child(26) {
    -webkit-animation: particle-animation-26 60s infinite;
    animation: particle-animation-26 60s infinite;
    opacity: 0.51;
    height: 8px;
    width: 8px;
    filter: blur(4px);
    -webkit-animation-delay: -5.2s;
    animation-delay: -5.2s;
    -webkit-transform: translate3d(27vw, 86vh, 78px);
    transform: translate3d(27vw, 86vh, 78px);
    background: #d9a926;
  }
  
  @-webkit-keyframes particle-animation-27 {
    100% {
      -webkit-transform: translate3d(65vw, 37vh, 89px);
      transform: translate3d(65vw, 37vh, 89px);
    }
  }
  @keyframes particle-animation-27 {
    100% {
      -webkit-transform: translate3d(65vw, 37vh, 89px);
      transform: translate3d(65vw, 37vh, 89px);
    }
  }
  .particle:nth-child(27) {
    -webkit-animation: particle-animation-27 60s infinite;
    animation: particle-animation-27 60s infinite;
    opacity: 0.17;
    height: 7px;
    width: 7px;
    filter: blur(4px);
    -webkit-animation-delay: -5.4s;
    animation-delay: -5.4s;
    -webkit-transform: translate3d(69vw, 77vh, 7px);
    transform: translate3d(69vw, 77vh, 7px);
    background: #d9be26;
  }
  
  @-webkit-keyframes particle-animation-28 {
    100% {
      -webkit-transform: translate3d(65vw, 65vh, 91px);
      transform: translate3d(65vw, 65vh, 91px);
    }
  }
  @keyframes particle-animation-28 {
    100% {
      -webkit-transform: translate3d(65vw, 65vh, 91px);
      transform: translate3d(65vw, 65vh, 91px);
    }
  }
  .particle:nth-child(28) {
    -webkit-animation: particle-animation-28 60s infinite;
    animation: particle-animation-28 60s infinite;
    opacity: 0.86;
    height: 10px;
    width: 10px;
    filter: blur(4px);
    -webkit-animation-delay: -5.6s;
    animation-delay: -5.6s;
    -webkit-transform: translate3d(54vw, 56vh, 75px);
    transform: translate3d(54vw, 56vh, 75px);
    background: #d9af26;
  }
  
  @-webkit-keyframes particle-animation-29 {
    100% {
      -webkit-transform: translate3d(21vw, 28vh, 41px);
      transform: translate3d(21vw, 28vh, 41px);
    }
  }
  @keyframes particle-animation-29 {
    100% {
      -webkit-transform: translate3d(21vw, 28vh, 41px);
      transform: translate3d(21vw, 28vh, 41px);
    }
  }
  .particle:nth-child(29) {
    -webkit-animation: particle-animation-29 60s infinite;
    animation: particle-animation-29 60s infinite;
    opacity: 0.12;
    height: 8px;
    width: 8px;
    filter: blur(4px);
    -webkit-animation-delay: -5.8s;
    animation-delay: -5.8s;
    -webkit-transform: translate3d(43vw, 62vh, 34px);
    transform: translate3d(43vw, 62vh, 34px);
    background: #cecba1;
  }
  
  @-webkit-keyframes particle-animation-30 {
    100% {
      -webkit-transform: translate3d(36vw, 30vh, 80px);
      transform: translate3d(36vw, 30vh, 80px);
    }
  }
  @keyframes particle-animation-30 {
    100% {
      -webkit-transform: translate3d(36vw, 30vh, 80px);
      transform: translate3d(36vw, 30vh, 80px);
    }
  }
  .particle:nth-child(30) {
    -webkit-animation: particle-animation-30 60s infinite;
    animation: particle-animation-30 60s infinite;
    opacity: 0.11;
    height: 8px;
    width: 8px;
    filter: blur(4px);
    -webkit-animation-delay: -6s;
    animation-delay: -6s;
    -webkit-transform: translate3d(54vw, 14vh, 58px);
    transform: translate3d(54vw, 14vh, 58px);
    background: #b19161;
  }