/*
    Credits to: 
        Sources by: Halogem (github.com/teenyPaws)
        Website hosted with: GitHub Pages
        URL Domain obtained with: Google Domains
        Icons obtained using: Google Fonts
*/

.terminalThing {
  position: relative;
  top: 0.5rem;
  margin: 0.5rem;
  float: right;
  width: 39rem;
  height: 90%;

  text-align: center;

  padding: 15px 20px;
  color: #519975;
  border-radius: 0.6rem;
  font-family: cursor, monospace;
  overflow-x: hidden;

  background: linear-gradient(135deg,
            rgba(59, 64, 66, 0.025),
            rgba(59, 64, 66, 0.025));
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    -moz-backdrop-filter: blur(15px);
    border-radius: 1rem 1rem 1rem 1rem;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

    animation: fadeIn2 linear 1.5s;
    -webkit-animation: fadeIn2 linear 1.5s;
    -moz-animation: fadeIn2 linear 1.5s;
    -o-animation: fadeIn2 linear 1.5s;
    -ms-animation: fadeIn2 linear 1.5s;

    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    transform: translateY(0%);
    transition: all 0.3s ease-in-out;
} .terminalThing p {
  display: block;
  line-height: 1.3em;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  letter-spacing: 0.05em;
  animation: typing 0.5s steps(30, end);
}
::selection {
  color: #211830;
  background-color: #519975;
}
::-moz-selection {
  color: #211830;
  background-color: #519975;
}
textarea {
  left: -1000px;
  position: absolute;
} b {
  font-weight: bold;
  text-decoration: underline;
}

/*
.cursor {
  font-size: 12px;
  content: "";
  color: #73ABAD;
  background-color: #73ABAD;
  position: relative;
  opacity: 1;
  max-width: 10px;
  transform: translateY(4px);
  overflow: hidden;
  text-indent: -5px;
  display: inline-block;
  text-decoration: blink;
  animation: blinker 1s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
*/

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}